<table class="table table-striped"> 
    <thead>
        <tr>
            <th>C&oacute;digo</th>
            <th>Descripci&oacute;n</th>
            <th>Precio</th>
            <th>Stock</th>
			<th>Fecha Alta</th>
            <th>Imagen</th>
            <th>Fabricante</th>
            <th>Notas</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products | filter : searchProduct | orderBy:'price'" ng-if="product.active==true">
            <td>{{product.code | productCode}}</td>
            <td>{{product.description | uppercase}}</td>
            <td>{{product.price | currency}}</td>
			<td>{{product.stock}}</td>
			<td>{{product.added_date | date:'dd/MM/yyyy'}}</td>
            <td><img ng-src="img/products/{{product.picture}}" width="100px" height="100px"></td>
            <td>{{product.vendor}}</td>
            <td>{{product.notes | myFormat}}</td>
			<td>
			<a class="btn btn-primary" href="/#/stock/edit/{{product.code}}">Editar</a> |
			<a class="btn btn-success" href="/#/stock/publish/{{product.code}}">Publicar</a> |
			<a class="btn btn-danger" href="/#/stock/delete/{{product.code}}">Remover</a>
			</td>
        </tr>      
    </tbody>
</table>