<table border="1"> 
    <thead>
        <tr>
            <th>C&oacute;digo</th>
            <th>Descripci&oacute;n</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Fabricante</th>
            <th>Notas</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products | filter: searchProduct | orderBy:'price'" ng-if="product.active == true">
            <td>{{product.code | productCode:'-'}}</td>
            <td>{{product.description | uppercase}}</td>
            <td>{{product.price | currency}}</td>
            <td><img ng-src="img/{{product.picture}}" width="100px" height="100px" ></td>
            <td>{{product.vendor}}</td>
            <td>{{product.notes  | myFormat}}</td>
        </tr>      
    </tbody>
</table>